SCPA/Service References/WST/WSTransacciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="realizarTransaccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tarjetaRetiro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tarjetaDeposito" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="concepto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarTransaccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="realizarTransaccionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="realizarTransaccionSoapIn">
    <wsdl:part name="parameters" element="tns:realizarTransaccion" />
  </wsdl:message>
  <wsdl:message name="realizarTransaccionSoapOut">
    <wsdl:part name="parameters" element="tns:realizarTransaccionResponse" />
  </wsdl:message>
  <wsdl:portType name="WSTransaccionesSoap">
    <wsdl:operation name="realizarTransaccion">
      <wsdl:input message="tns:realizarTransaccionSoapIn" />
      <wsdl:output message="tns:realizarTransaccionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSTransaccionesSoap" type="tns:WSTransaccionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="realizarTransaccion">
      <soap:operation soapAction="http://tempuri.org/realizarTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSTransaccionesSoap12" type="tns:WSTransaccionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="realizarTransaccion">
      <soap12:operation soapAction="http://tempuri.org/realizarTransaccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTransacciones">
    <wsdl:port name="WSTransaccionesSoap" binding="tns:WSTransaccionesSoap">
      <soap:address location="http://localhost:51953/WSTransacciones.asmx" />
    </wsdl:port>
    <wsdl:port name="WSTransaccionesSoap12" binding="tns:WSTransaccionesSoap12">
      <soap12:address location="http://localhost:51953/WSTransacciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>